@font-face {
  font-family: Work Sans;
  src: url('/fonts/work-sans-v4-latin-regular.eot'),
    url('/fonts/work-sans-v4-latin-regular.woff2'),
    url('/fonts/work-sans-v4-latin-regular.woff'),
    url('/fonts/work-sans-v4-latin-regular.ttf'),
    url('/fonts/work-sans-v4-latin-regular.svg');
  font-weight: normal;
  font-display: fallback;
}

@font-face {
  font-family: Work Sans;
  src: url('/fonts/work-sans-v4-latin-500.eot'),
    url('/fonts/work-sans-v4-latin-500.woff2'),
    url('/fonts/work-sans-v4-latin-500.woff'),
    url('/fonts/work-sans-v4-latin-500.ttf'), url('/fonts/work-sans-v4-latin-500.svg');
  font-weight: bold;
  font-display: fallback;
}
